:root {
  /* Paleta 1 – Estilo Kaisa Arcadia (Retro-Vibrante) */
  --rose: #f72585ff;
  --grape: #7209b7ff;
  --zaffre: #3a0ca3ff;
  --neon-blue: #4361eeff;
  --vivid-sky-blue: #4cc9f0ff;

  /* Paleta 2 – Oscura y Profunda (Sigilo / Lore) */
  --caribbean-current: #006466ff;
  --midnight-green: #065a60ff;
  --midnight-green-2: #0b525bff;
  --midnight-green-3: #144552ff;
  --charcoal: #1b3a4bff;
  --prussian-blue: #212f45ff;
  --space-cadet: #272640ff;
  --dark-purple: #312244ff;
  --dark-purple-2: #3e1f47ff;
  --palatinate: #4d194dff;

  /* Paleta 3 – Explosiva (Cyberpunk Verde) */
  --russian-violet: #3c1642ff;
  /* --caribbean-current ya esta arriba */
  --turquoise: #1dd3b0ff;
  --green-yellow: #affc41ff;
  --light-green: #b2ff9eff;
}

html {
  scroll-behavior: smooth;
}

.font-press-start {
            font-family: 'Press Start 2P', cursive;
        }
        .font-vt323 {
            font-family: 'VT323', monospace;
        }
        .text-neon-blue {
            text-shadow: 0 0 5px #00bfff,
                         0 0 10px #00bfff,
                         0 0 20px #00bfff,
                         0 0 40px #228dff,
                         0 0 80px #228dff;
        }

        .text-neon-red {
          text-shadow:
            0 0 5px var(--rose),
            0 0 10px var(--rose),
            0 0 20px var(--rose);
        }

        .text-neon-green {
          text-shadow:
            0 0 5px var(--turquoise),
            0 0 10px var(--turquoise),
            0 0 20px var(--light-green);
        }

        .text-neon-ice {
          text-shadow:
            0 0 5px var(--vivid-sky-blue),
            0 0 10px var(--vivid-sky-blue),
            0 0 20px var(--neon-blue);
        }

        /* -- Estilos para el efecto hover de las tarjetas */
        .game-card {
          position: relative; /* Posicionar el contenido encima */
          width: 100%;
          max-width: 280px;
          margin: 0 auto;
          border-radius: 16px;
          cursor: pointer;
          transition: all 0.3s ease;
        }

        /* La imagen de fondo (el poster) */
        .game-card img:first-child {
          width: 100%;
          border-radius: 16px;
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
          object-fit: cover;
        }

        /* El degradado */
        .game-card::before {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
          to bottom,
          transparent 10%,
          rgba(0, 0, 0, 0.5) 50%,
          rgba(0, 0, 0, 1) 95%
          );
          border-radius: 16px;
          opacity: 0;
          transition: all .3s ease;
        }

        .game-card .character-pop {
          position: absolute; 
          width: 85%; 
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto; 

          /* La movemos hacia abajo y la hacemos invisible por defecto */
          transform: translateY(25%);
          opacity: 0;
          transition: all .4s ease; 
          /* Evita que se pueda arrastrar la imagen y arruine el efecto */
          pointer-events: none;
        }
        
        .game-card:hover {
          transform: 
            perspective(250px)
            rotateX(10deg)
            translateY(-5%);
        }

        .game-card:hover::before {
          opacity: 1;
        }

        .game-card:hover .character-pop {
          opacity: 1;
          transform: translateY(10%); 
        }

        #hero {
          position: relative;
          background-image: url('../assets/images/home.jpg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        #hero::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(17,24,39,0.7);
          z-index: 1;
        }

        